# -------------------------------------------------------------
# PostgreSQL
# -------------------------------------------------------------
POSTGRES_HOST=localhost
POSTGRES_DB=cradb
POSTGRES_USER=admin
POSTGRES_PASSWORD=StrongPassword123
POSTGRES_PORT=5432
    
# -------------------------------------------------------------
# pgAdmin
# -------------------------------------------------------------
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=AdminPassword123

# -------------------------------------------------------------
# Docker
# -------------------------------------------------------------
POSTGRES_CONTAINER_NAME=myapp-postgres
PGADMIN_CONTAINER_NAME=myapp-pgadmin
NETWORK_NAME=myapp-network

POSTGRES_VOLUME=myapp-postgres-data
PGADMIN_VOLUME=myapp-pgadmin-data

# -------------------------------------------------------------
# GoTrue (Auth)
# -------------------------------------------------------------
GOTRUE_PORT=9999
GOTRUE_JWT_SECRET=super-secret-jwt-key-change-me-in-production
GOTRUE_SITE_URL=http://localhost:3000

# -------------------------------------------------------------
# OCI (Oracle Cloud) Credentials
# -------------------------------------------------------------
OCI_USER=ocid1.user.oc1..exampleuserocid
OCI_FINGERPRINT=aa:bb:cc:dd:ee:ff:11:22:33:44:55:66:77:88:99:00
OCI_TENANCY=ocid1.tenancy.oc1..exampletenancyocid
OCI_REGION=us-ashburn-1
OCI_KEY_FILE=~/.oci/oci_api_key.pem

